<!-- Navigation Links bar -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Onion Peeler</a>
    </div>
    <ul class="nav navbar-nav">
      <li {{#unless saved}}class="active"{{/unless}}>
        <a href="/">Home</a>
      </li>
      <li {{#if saved}}class="active"{{/if}}>
        <a href="/saved">Saved Articles</a>
      </li>
      {{#unless saved}}
        <li><a href="/scrape">SCRAPE ARTICLES</a></li>
      {{/unless}}
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="http://www.theonion.com/" target="_new">The Onion</a>
      </li>
      <li>
        <a href="https://github.com/cnjdev/OnionPeeler" target="_new">GitHub Repo</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Top of Page -->
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>
      <span class="glyphicon glyphicon-fire"></span>
      Onion Peeler
    </h1>    
    <h2>Scrape articles from </h2>
    <img src="/images/onion-logo.jpg" 
      style="height: 100px; opacity:0.8;" />
  </div>
</div>

<div class="container">
  <div class="row">
    {{#each articles}}    
      {{> articles/article}}
    {{/each}}
  </div>
</div>

<div id="articleModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h2 class="modal-title" id="article-title"></h2>
        <h3 class="modal-title" id="article-id"></h3>
      </div>
      <div class="modal-body">
        <div id="article-notes"></div>
        <form class="create-form">
          <div class="form-group">
            <textarea rows="4" cols="60" id="new-note" name="note"></textarea>
          </div>
          <button type="submit" class="add-note">Add Note</button>
        </form>
      </div>
    </div>
  </div>
</div>